

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group{
  height: 60px;
  input{
    width:100%!important;
  }
}


.region-footer {
  #block-b5tejothema-logoensocial {
    //max-width:217px !important;
    .footcol {
      width:200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .footrow.first {
        .logo {
          img {
            width: 100%;
            height: auto;
            // border: 1px solid white;
          }
        }

      }
      .footrow.second {
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
        gap: 1em;
        flex-wrap: nowrap;
        .icon {
          img {
            width: 50px;
            // border: 1px solid white;
          }
        }

      }
    }
  }
}


@include media-breakpoint-up(xs) {
  .region-footer{
    display: flex;
    flex-direction: row!important;
    flex-basis: 200px;
    flex-wrap: wrap!important;
    & > * {
      width:200px;
      margin-bottom: 4rem;
      // border:1px solid white;
      h5{
        color:white;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1.2em;
      }
      ul li{
        a.nav-link{
          padding:0.25em 0;
        }
      }
    }
    & > :nth-of-type(1){width:100%;}
    & > :nth-of-type(2){width:100%;text-align: center;}
    & > :nth-of-type(3){width:100%;text-align: center;}
    & > :nth-of-type(4){width:100%}
  }
}


@include media-breakpoint-up(md) {
  .region-footer{
    display: flex;
    flex-direction: row!important;
    flex-basis: 300px;
    flex-wrap: wrap!important;
    & > * {
      width:200px;
      // border:1px solid white;
    }
    & > :nth-of-type(1){width:100%;}
    & > :nth-of-type(2){width:50%;text-align: left;}
    & > :nth-of-type(2){width:50%;text-align: left;}
    & > :nth-of-type(4){width:100%;}
  }
}

@include media-breakpoint-up(lg) {
  .region-footer{
    display: flex;
    flex-direction: row!important;
    flex-basis: 300px;
    flex-wrap: nowrap!important;
    & > * {
      // width:100px;
      // border:1px solid white;
      h5{
        text-align: left;
      }
      ul li {
        a{
        }
      }
    }
    & > :nth-of-type(1){width:100%;}
    & > :nth-of-type(2){width:100%;text-align: left;}
    & > :nth-of-type(3){width:100%;text-align: left;}
    & > :nth-of-type(4){width:200%;}
  }
}


