
/* home triplet */

.herotriplet {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  // width:100%;
  gap: 2rem;
  justify-content: space-around;
  padding-left:2rem;
  padding-right:2rem;
  margin-top: -60px;
  @include media-breakpoint-up('lg'){
    width: 100%;
    // padding-left: 0;
    // padding-right: 0;
    flex-direction: row;
    margin-top: -100px;
    justify-content: space-evenly;
  }
  & > * {
    flex:1;
    background-color: white;
    padding: 30px 30px 0px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 30px;
    color: $tejoblauw;
    border: 2px solid transparent;
    transition: border .2s;
    &:hover{
      border: 2px solid $tejoblauw;
    }
    .kop {
      color: $tejoblauw;
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 30px;
    }
    .brood {
      font-size: 1.1em;
      line-height: 1.3;
    }
    .link {
      margin-top: auto;
      @include pijlbutton();
      //a {
      //  display: block;
      //  padding: 30px 0 30px 0;
      //  font-weight: bold;
      //  font-size: 1.4em;
      //  color:$tejoblauw;
      //  &:after {
      //    content: "\25B6";
      //    font-family: 'Roboto', 'sans-serif';
      //    width: 50px;
      //    height: 50px;
      //    margin-left: 0;
      //    text-decoration: none;
      //    display: inline-block;
      //    color: $tejorood;
      //  }
      //  &:hover {
      //    color: $tejorood;
      //  }
      //}
    }
  }

}

.page-node-type-homepagina{
  @include smal(".field--name-body");
}

.page-node-type-article{
  @include smal(".field--name-field-hoofdtekst");
}
