
.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  // border: 1px solid silver;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
  height: 600px!important;
  margin-bottom: 3rem;

  #leftpane {
    height: 600px!important;
    #form {
      padding:5px;

      input {
        width:60px;
        letter-spacing:0.1em;
        border-radius:2em;
        border: 1px solid $tejoblauw;
        text-align: center;
      }
      label {
        color:$tejoblauw;
      }

      button {
        width:60px;
        letter-spacing:0.1em;
        border-radius:2em;
        border: 1px solid $tejoblauw;
        &:hover{
          background-color: $tejorood;
          color:$tejowit;
        }
      }

    }
    #locations {
      height: 569px;
      overflow: auto;
      img{
        display: block;
        width:50px;
        margin: 5rem auto;
      }
      ul {
        list-style: none;
        padding-left:0;
        li {
          border:1px solid silver;
          padding: 5px;
          .name{font-weight: bold;}
          color: $tejoblauw;
          font-size: 0.9em;
          & div.nameaddress:hover {
            background-color: $tejorood;
            color: $tejowit;
            cursor: pointer;
          }
          &.tejorood{
            background-color: $tejorood;
            color: $tejowit;
          }
          a{
            display: block;
            padding:10px 5px;
            margin: -5px;
            color:$tejoblauw;
            font-weight: bold;
            &:hover{color:$tejorood;background-color: $tejowit;}
            &:after{
              content:url('/themes/custom/b5tejothema/resources/trianglered.svg');
              width: 10px;
              height: 10px;
              position: relative;
              display: inline-block;
              right: -5px;
            }
          }
        }
      }

    }
  }

  #rightpane {
    flex-grow:1;
  }
}
