

.paragraph.paragraph--type-p01-quote {
  padding-top: $blocktopmargin;
  margin-bottom: $blockbottommargin;
  padding-bottom: 30px;

  .col-sm-12 {
    .break-out {
      .container {
        .col {
          .sectiekop {
            @include sectiekop(true);
          }
          .blokken {
            border-radius: $borderradius;
            background-color: $tejoblauw;

            display: flex;

            & > * {}
            .block {}

            .blok.blok1 {
              flex-basis: 20%;
              .field.field--name-field-blok-1-afbeelding.field--type-image.field--label-hidden.field__item {
                img.img-fluid {}
              }
            }
            .blok2.blok {
              flex-basis: 80%;
              color: white;
              padding: 15px;

              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 1rem;

              text-align: center;
              & > * {
                // border:1px solid white;
              }

              h3.titel {}
              .toelichting {
                // border:1px solid yellow;
                position: relative;
                &:before {
                  color: $tejorood;
                  display: block;
                  font-family: "Nunito", sans-serif;
                  padding-left: 10px;
                  content: "\201C";
                  font-size: 8rem;
                  position: absolute;
                  line-height: 0;
                  left: -20px;
                  top: 20px;
                  @include media-breakpoint-up('sm') {
                    font-size: 10rem;
                    left: 20px;
                    top: 40px;
                  }
                  }
                &:after {
                  color: $tejorood;
                  display: block;
                  font-family: "Nunito", sans-serif;
                  padding-right: 10px;
                  content: "\201d";
                  font-size: 8rem;
                  position: absolute;
                  line-height: 0;
                  right: -20px;
                  bottom: -40px;
                  @include media-breakpoint-up('sm') {
                    font-size: 10rem;
                    right: 20px;
                    bottom: -40px;
                  }
                }

                p {}
              }
              .link {
                @include tejolink($tejolichtblauw, $tejogrijs, $tejoblauw, $tejoblauw,15rem);
              }


            }
          }
          .sectievoet {
            @include sectievoet();

            .link {
              @include tejolink($tejoblauw,$tejorood,$tejowit,$tejowit);
            }
          }
        }
      }
    }
  }
}
.paragraph--type-p01-quote {
  .fotolinks {
    .blokken {
      flex-direction: column;
      @include media-breakpoint-up('lg'){
        flex-direction: row;
      }

      .blok.blok1 {
        img.img-fluid {
          border-top-left-radius: $borderradius;
          border-bottom-left-radius: 0;
          border-top-right-radius: $borderradius;
          border-bottom-right-radius: 0;
          @include media-breakpoint-up('lg'){
            border-top-left-radius: $borderradius;
            border-bottom-left-radius: $borderradius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

  .fotorechts {
    .blokken {
      flex-direction: column;
      @include media-breakpoint-up('lg'){
        flex-direction: row-reverse;
      }
      .blok.blok1 {
        img.img-fluid {
          border-top-left-radius: $borderradius;
          border-bottom-left-radius: 0;
          border-top-right-radius: $borderradius;
          border-bottom-right-radius: 0;
          @include media-breakpoint-up('lg'){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: $borderradius;
            border-bottom-right-radius: $borderradius;
          }
        }
      }
    }
  }
}
