

.paragraph--type-p10 {
  margin-top: 2rem;
  .bs-region--main {

    .field--name-field-sectietitel {
      padding: 1rem;
      color: $tejoblauw;
      font-size: 2rem;
      text-align: center;
    }
    .field.field--name-field-vraag-en-antwoord {

      & .field__item {
        position: relative;
        border: 2px solid $tejoblauw;
        padding: 1rem;
        margin: 1rem;
        border-radius: $borderradius;
        counter-increment: my-counter;

        .ui-accordion .ui-accordion-header {
          border-radius: 30px;
          padding: 1rem;
        }
        .ui-widget-content {
          background-color: yellow;
        }

        details.faqfield-details {
          border: none;

          summary.faqfield-question {
            padding: 2px 1rem;
            font-size: 1.5rem;
            color: $tejoblauw;
            border: none;
            cursor: pointer;
            margin-right: 0rem;
            &::marker {
              color: $tejowit;
              content: " " counter(my-counter) "\00A0\00A0\00A0\00A0";
              line-height: 1;
              position: absolute;
              font-size: 100%;
              width: 300%;
            }
            &:before {
              content: "";
              background-color: $tejolichtblauw;
              width: 3rem;
              height: 3rem;
              position: absolute;
              left: 0.9rem;
              top: 1.8rem;
              z-index: -2;
              border-radius: 50%;
            }
          }

          .faqfield-answer {
            border: none;
            padding: 2rem 1rem;
            width: 60%;
            margin-left:15%;
            p {
              span.OYPEnA {
                strong {}
              }
            }
          }

          &::after {
            content:url("/themes/custom/b5tejothema/resources/trianglered.svg");
            transition: transform .2s;
            transform: rotate(90deg);
            position: absolute;
            width: 25px;
            top: 2em;
            right: 50px;
            z-index: -1;
          }
          &:not([open])::after {
            content:url("/themes/custom/b5tejothema/resources/trianglered.svg");
            transform: rotate(0deg);
            position: absolute;
            width: 25px;
            top: 2em;
            right: 44px;
            z-index: -1;
          }

        }

      }

    }
  }
}

