.view-tejohuizen
{
  padding-bottom:8px;
  padding-left:8px;
  padding-right:8px;


  .views-view-responsive-grid__item-inner {
    background-color: $tejowit;
    border-radius: $borderradius;
    display:flex;
    flex-direction: column;
   // height: 600px;

    text-align: center;
    .views-field-field-gevel {
      img {
        border-radius: 1rem;
      }
      margin-bottom: 1rem;
    }
    .views-field-label {
      color: $tejoblauw;
    }
    .views-field-field-adres {
      color: $tejoblauw;
      font-style: italic;
    }
    .views-field-nothing {
      @include tejolink($tejowit,$tejoblauw,$tejoblauw,$tejowit,15rem);
      a{border: 2px solid $tejoblauw;}
    }
    .views-field-view-group-1 {
      @include pijlbutton;
      a{font-size: 1.2em;}
      margin-top: auto;
    }
  }
}
