
/**
Componenten
 */

img.left50{
  float:left;
  margin-right:15px;
  width:50%;
  height:auto;
}
img.right50{
  float:right;
  margin-left:15px;
  width:50%;
  height:auto;
}
img.left75{
  width:75%;
  height:auto;
  float:left;
  margin-right:15px;
}
img.right75{
  width:75%;
  height:auto;
  float:right;
  margin-left:15px;
}
img.center75{
  width:75%;
  height:auto;
  margin-left:12.5%;
  margin-right:12.5%;
}
img.center100{
  width:100%;
  height:auto;
}
img.center150{
  width:150%;
  margin-left:-25%;
  margin-right:-25%;
  height:auto;
}

p.pct60{
  margin:auto;
  width: 60%;
  margin-left: 15%;
  margin-right: 15%;
}

//.region-content .smal .field--name-body{
//  width: 60% ;
//  margin: 0 20%;
//}
//.region-content .breed .field--name-body{
//  //width: 100% ;
//  //margin: 0 100%;
//}



h2.wys-kop{

}
p.wys-kop{
  font-size: 2rem;
  color: $tejoblauw;
  line-height: 1;
}
p.wys-onderkop{
  font-size: 1rem;
  color: $tejoblauw;
  line-height: 1;
}

blockquote p {
  position: relative;
  padding: 30px;
  border-radius:30px;
  color: $tejodonkerblauw;
  background-color: $tejolichtblauw;
  text-align: center;
  font-size: 2em;
  color: white;
  font-style: normal;
  margin-top:60px;
  margin-bottom:60px;
  line-height: 1;
  &:before {
    color: $tejodonkerblauw;
    display: block;
    font-family: "Nunito", sans-serif;
    padding-left: 10px;
    content: "\201C";
    font-size: 8em;
    position: absolute;
    line-height: 0;
    left: 20px;
    top: 60px;
  }
  &:after {
    color: $tejodonkerblauw;
    display: block;
    font-family: "Nunito", sans-serif;
    padding-right: 10px;
    content: "\201d";
    font-size: 8em;
    position: absolute;
    right: 20px;
    line-height: 0;
    bottom : -70px;
  }
}


ul.blueraster{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }

  max-width: 100%;
  margin: 1rem;
  padding: 0;
  gap: 2rem;
  list-style: none;
  counter-reset: doc;

  li{
    background-color:$tejolichtblauw;
    padding:3rem;
    border-radius: $borderradius;
    color: $tejodonkerblauw;
    font-size:1.4em;
    text-align:center;
    a{
      color: $tejorood;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }

  }
}


ul.bigbubble {
  border: 1px solid red;
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  li {
    color: $tejoblauw;
    width: 300px;
    text-align: center;
    font-size: 1.8em;
    text-wrap: wrap;
    background-image: url("/themes/custom/b5tejothema/resources/path1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 3rem;
  }
}
